/**/
* {
  font-family: 'Comfortaa';
}

html {
  scroll-behavior: smooth;
}

/* Header top */
.header-top-wrapper {
  background-image: url('/drupalApp.vn/image/BG.png');
  height: 100%;
  /* background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; */
  background-size: cover;
  position: relative;
}

.header-top-wrapper .menu-top {
  display: flex;
  align-items: center;
}

.header-top-wrapper .logo-wrapper {
  flex: 1;
}

.header-row {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 98;
  background: linear-gradient(215.45deg, #1E1D1C 5.99%, #272315 94.01%);
}

.header-top-wrapper::after {
  background-image: url('/drupalApp.vn/image/shap.png');
  height: 700px;
  background-size: cover;
}

.menu-top {
  padding: 5px 0;
}

ul.menu.nav.navbar-nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.menu.nav.navbar-nav li a {
  color: #fff;
  line-height: 2;
}

ul.menu.nav.navbar-nav li img {
  margin-right: 5px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: unset;
  ;
}

ul.menu.nav.navbar-nav {
  display: flex;
  align-items: center;
}

ul.menu.nav.navbar-nav li a:after {
  width: 0;
  background: #FFB913;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  transition: 400ms ease-in-out;
  margin: 0 auto;
}

ul.menu.nav.navbar-nav li a:hover:after {
  width: 90%;
}

ul.menu.nav.navbar-nav li a:hover {
  color: #FFB913;
}

/* about us */
.about-us-wrapper {
  padding-top: 200px;
}

.about-us-wrapper .row {
  padding-bottom: 215px;
}

.about-us-wrapper .text-wrapper {
  margin-top: 100px;
}

.about-us-wrapper .text-wrapper h1 {
  color: #fff;
  font-size: 48px;
}

.about-us-wrapper .text-wrapper p.intro-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#owl-one .owl-carousel .owl-item img {
  width: auto;
  height: 700px;
}

/* introduce */
.introduce-wrapper {
  padding: 50px 0;
}

.introduce-wrapper .logo-wrapper {
  display: flex;
  justify-content: center;
}

.introduce-wrapper .intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduce-wrapper .intro-title h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.introduce-wrapper .content-left img {
  width: 100%;
}

.introduce-wrapper .intro-content {
  display: flex;
  align-items: center;
}

.introduce-wrapper .content-right .content-right-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 40px 0;
}

.introduce-wrapper .content-right .content-right-detail img {
  margin-right: 30px;
}

.introduce-wrapper .content-right .content-right-detail p {
  font-weight: bold;
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 18px;
}

.introduce-wrapper .content-right .content-right-detail p::before {
  display: flex;
  flex-direction: column;
  content: url('/drupalApp.vn/image/group126.png');
}

/* feature */
.feature-wrapper {
  padding: 70px 0;
  background: #F5F5F5;
}

.feature-title-wrapper {
  align-items: center;
  text-align: center;
}

.feature-wrapper .feature-content-title {
  text-transform: uppercase;
  font-weight: bold;
}

.feature-content-wrapper {
  margin-top: 80px;
}

.feature-content-wrapper .feature-content-center {
  justify-content: center;
  display: flex;
}

.feature-content-left .feature-left-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.feature-content-left .feature-left-item p {
  font-weight: bold;
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 18px;
  width: 70%;
}

.feature-content-left .feature-left-item .feature-left-image {
  position: relative;
}

.feature-content-left .feature-left-item .feature-left-image img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 18px;
}

.feature-content-left .feature-left-item .feature-left-image {
  z-index: 2;
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
  background: #F9D95A;
  position: relative;
}

.feature-content-left .feature-left-item .feature-left-image {
  margin-right: 10px;
}

.feature-right-item {
  display: flex;
  align-items: center;
}

.feature-content-right .feature-right-item .feature-right-image {
  z-index: 2;
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
  background: #F9D95A;
  position: relative;
}

.feature-content-right .feature-right-item .feature-right-image img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 21px;
  right: 16px;
}

.feature-content-right .feature-right-item p {
  font-weight: bold;
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 18px;
  width: 70%;
}

.feature-content-right .feature-right-item .feature-right-image {
  order: 1;
}

.feature-content-right .feature-right-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.feature-content-wrapper .row {
  position: relative;
  display: flex;
  align-items: center;
}

.feature-content-right {
  padding-left: 50px;
}

/* why us */
.why-us-wrapper {
  padding: 70px 0 0 0;
}

.why-us-title-wrapper {
  align-items: center;
  text-align: center;
}

.why-us-title-wrapper .why-us-title {
  text-transform: uppercase;
  font-weight: bold;
}

.why-us-title-wrapper p {
  font-family: Source Sans Pro;
  font-style: normal;
}

.why-us-wrapper .why-us-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 70px 0 0 0;
}

.why-us-wrapper .why-us-content-wrapper img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.why-us-wrapper .why-us-content-wrapper .why-us-item {
  text-align: center;
  padding: 30px;
  background: #FFFAE8;
  border-radius: 10px;
  border: 1px solid transparent;
}

.why-us-wrapper .why-us-content-wrapper .why-us-item:hover {
  background: #fff;
  border: 1px solid #FFB913;
  box-shadow: 0px 45.7173px 82.911px rgba(0, 0, 0, 0.05);
}

.why-us-wrapper .why-us-content-wrapper .why-us-item p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

/* product */
.product-wrapper {
  position: relative;
  background-size: cover;
  background-position-y: 11%;
  padding-top: 13%;
}

.product-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/drupalApp.vn/image/wave.png") no-repeat;
  background-size: cover;
  top: -5%;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.product-wrapper .product-title-wrapper {
  text-align: center;
}

.product-wrapper .product-title-wrapper h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.product-slider-wrapper {
  position: relative;
  padding: 100px 0;
}

.screenshot-frame img {
  height: 590px;
}

.screenshot-frame {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 87px;
}

.product-slider-wrapper .owl-item img {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-slider-wrapper .owl-item.center img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.product-slider-wrapper .owl-item .item {
  display: flex;
  justify-content: center;
}

.product-slider-wrapper .owl-carousel .owl-item img {
  width: unset;
  border-radius: 30px;
}

.product-slider-wrapper .owl-item.active.center img {
  border-radius: unset;
}

.product-slider-wrapper .owl-item.active.center .item {
  display: flex;
  justify-content: center;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav {
  margin: 50px 0;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-prev {
  font-size: 0;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-next {
  font-size: 0;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-prev::before {
  content: '\f060';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-next::before {
  content: '\f061';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-next:hover,
.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button.owl-prev:hover {
  color: #fff;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button {
  background-color: #F0F2F6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #415ED4;
}

.product-wrapper .product-slider-wrapper .owl-carousel .owl-nav button:hover {
  background-color: #415ED4;
}

.product-wrapper .product-name h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Source Sans Pro;
  font-size: 36px;
  font-weight: bold;
}

/* Tải sản phẩm */
.product-test-wrapper .product-test-title {
  text-align: center;
}

.product-test-wrapper .product-test-title h1:nth-child(2),
.product-test-wrapper .product-test-title h1:nth-child(3),
.product-test-wrapper .product-test-title h1:nth-child(4) {
  text-transform: uppercase;
  font-weight: bold;
  line-height: inherit;
}

.product-test-wrapper .product-test-title h1:nth-child(4) {
  font-size: 20px;
}

.product-test-wrapper .product-test-title h1:nth-child(3) {
  font-size: 38px;
}

.product-test-wrapper .product-test-title p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.product-test-wrapper .product-test-content {
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.product-test-wrapper .product-test-content::after {
  content: url('/drupalApp.vn/image/wave3.svg');
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.product-test-wrapper .product-test-content p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/* Contact */
.contact-wrapper {
  padding: 30px 0;
}

.contact-wrapper .contact-title {
  text-align: center;
}

.contact-wrapper .contact-title h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.contact-wrapper .contact-title p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.contact-wrapper .contact-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.contact-wrapper .contact-content .contact {
  text-align: -webkit-center;
  margin-top: 40px;
}

.contact-wrapper .contact-content .contact .contact-image {
  position: relative;
  background: #F9D95A;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.contact-wrapper .contact-content .contact .contact-image img {
  position: absolute;
  top: 25%;
  left: 23%;
}

.contact-wrapper .contact-content .contact .contact-image {
  margin-bottom: 20px;
}

.contact-wrapper .contact-content .contact .contact-detail p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 18px;
}

.contact-wrapper .contact-content .contact .contact-detail p:nth-child(1) {
  font-weight: bold;
}

/* Map */
.map-wrapper {
  position: relative;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 250px;
}

.map-wrapper .map-form-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 64%;
}

.map-wrapper iframe {
  width: 100%;
}

.map-wrapper .map-form input {
  height: 40px;
  margin: 10px 0;
  border: 1px solid rgba(122, 122, 122, 0.303612);
  border-radius: 4px;
  padding: 5px;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.map-wrapper .map-form textarea {
  margin: 10px 0;
  border: 1px solid rgba(122, 122, 122, 0.303612);
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}

.map-wrapper .map-form-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.0966938);
  border-radius: 30px;
  padding: 40px;
  padding-bottom: 50px;
}

.map-wrapper .map-form-wrapper .form-group {
  padding-left: 0;
  padding-right: 0;
}

.map-wrapper .map-form-wrapper .form-row .form-group:first-child {
  padding-right: 20px;
}

.map-wrapper .map-form-wrapper button.btn.btn-primary {
  position: absolute;
  width: 10%;
  background-color: #FFB913;
  border-color: #FFB913;
  background-image: unset;
  left: 50%;
  transform: translateX(-50%);
}

/* partner */
.partner-wrapper .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.partner-wrapper .partner-image {
  mix-blend-mode: luminosity;
  transition: .3s;

}

.partner-wrapper .partner-image:hover {
  mix-blend-mode: inherit;
  transform: scale(1.1);
}

/* footer */
.footer-wrapper {
  padding: 30px 0;
  color: #fff;
  background-color: #2C2C2C;
}

.footer-wrapper .logo-footer {
  float: left;
}

.footer-wrapper .copyright-footer {
  float: right;
}

.footer-wrapper .footer-detail p {
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10px;
}